html, body {
  overflow-x: hidden;
}

.repick {
    bottom: -40px;
    left: 48%;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    text-decoration: none;
}
#repick1, #repick2, #repick3, #repick4, #repick5{
    text-decoration: none;
    font-size: .9em;
    color: blue;
}
#repick4.repick{
    bottom: -10px;
}

body {
  position: relative
}
a {text-decoration: none;}

.btn-warning.focus, .btn-warning:focus, .btn-warning:not([disabled]):not(.disabled).active, .btn-warning:not([disabled]):not(.disabled):active, .show>.btn-warning.dropdown-toggle{
    box-shadow: none;
}

.btn-warning:hover {
    color: #fbfbfb;
    background-color: #E91E63;
    border-color: #ffffff;
    outline: none;
}
.btn-warning {
    color: #fffcfc;
    background-color: #e277a5;
    border-color: #de628c;
    outline: none;
}
button#removeColor.btn-warning:hover {
    color: black;
    background-color: ivory;
    border-color: ivory;
    outline: none;
}
#removeColor.btn-warning {
    color: black;
    background-color: white;
    border-color: #bbbba9;
    outline: none;
}
        .textinbox {
    padding: 0;
    margin-top: 0px;
}

.custombar {
     margin-top: 10px; 
}
        
.holdercustom {
    height: 330px;
    width: 400px;
    /* margin: 0 auto; */
}

        .col-md-3.col-sm-12.cl1 {
    background: url('../custom_files/manican.png') no-repeat;
    background-position: center center;
    background-size: 45%;
    background-color: white;

}
.col-md-3.col-sm-12 {
    border-right: none;
    margin-left: 0;
}

        .preview{
                width: 100%;
    height: 150px;
    border: solid 10px #fff;
    
    margin-left: 5%;
        }
      
      .py-5.footer{
        display: none;
      }
    
        button a{
            color: white;
        }
        button a:hover {
    color: white;
    text-decoration: none;
}
        #removeColor{
            margin-left: 35%;
        }
        p.navpanel{
            font-family: montserrat;
        }
         #selections1, #selections2, #selections3, #selections4, #selections5{
            position: relative;
            height:140px;
            padding: 25px;

        }

        .selectionTitle{
            font-weight: bold;
        }

        .selectionName{
            font-style: italic;
        }

        .selectionTitle, .finalImage, .selectionName{

            position: absolute;
            font-size: 1em;
        }

        .finalImage{
            width: 110px;
            height:110px;
            cursor: pointer;
        }
        .selectionTitle{
                top: 75px;
    left: 10%;
            } 
            .finalImage{
                top: 30px;
            left:40%;
                } 
                   #selection{
            padding: 15px;
            margin-bottom: 30px;
        }

         #finalImage3{
            left: 41%;

         }

        #finalImage4{
            border-radius: 45%;
            width: 75px;
            height:75px;
              left: 44%;
        }


         #finalImage5, #finalImage3, #finalImage2, #finalImage1{
            
            width: 110px;
            height:110px;
           
        }
                .selectionName{
                    top: 75px;
            right:2%;
                }

                #cartbutton{
                    margin-left: 40%;
                }

                .panel6 .custombar{
                    margin-top: 0;
                }
       




        #draggable1, 
        #draggable2,

        #draggable3{
            z-index: 15;
        }

     

        #skip{
                vertical-align: -webkit-baseline-middle;
                right: 20px;
    position: absolute;
        }

        .btn-lg{
            vertical-align: top;
            outline: none;
        }

        #pattern{
            width: 100%;
            padding-left: 10px;
            margin-left: 15px;
        }

        #patternHome{
            width: 225px;
            height: 100px;
            border: solid black 1px;
            margin: 0 auto;

        }

        #patternButtons{
            width: 400px;
    margin: 15px auto;
        }
     #patternText{
            text-align: center;
            font-family: geramond;
            font-size: 1em;
        }

       

       
        .navbar-toggler{
    border: none;
    cursor: pointer;
    outline: none;
}

.navbar-toggler.collapsed{
outline: none;
}

.navbar-toggler-icon{

position: absolute;
    right: 5px;
    top: 18px;
}

button.navbar-toggler{
    outline: none;
    border: none;
}
.inline{
    display: inline-block;
}

.navbar-light .navbar-toggler-icon{
        background-image: url('../custom_files/hamburgerblue.png');
        outline: none;
}

        .logo2{
            margin-left: 45%;
        }

        .container{
            margin-right:  0;
            margin-left:  0;
                text-align: left;
                width: 100%;
        }

        p.directions{
            text-align: center;
            padding: 10px;
            font-size: 1em;
                
        }

        #sliderSelect .directions{
            margin-left: -35px;
        }
        
input[type='radio'] {
    width: 60px;
    height: 60px;
}

    #droppable, .fabric{
    /* display: none; */
    width: 140px;
    height: 40px;
}

      

        #droppable{
            position: relative;
            margin-top:35px;
            margin-left: 33%;
            border: solid gray 1px;
            display: none;
        }

        .toppanel{
            height: 50px;
    line-height: 50px;
     width: 100%;
    position: relative;
        }
.forward, .backward{
    position: absolute;
        right: 25px;
    top: 13px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.forward{
    right: 25px;
}

.backward{
       left: 30px;
}

            

        .divider{
            margin-bottom: 1em;
        }

        .col-md-2.col-sm-12{
            display: none;
        }
        .col-md-5.col-sm-12{

    padding-left: 0px;
    padding-right: 0px
}

       p.navpanel{margin-right: .2%;} 
      /* .row{
        margin-left: 0;
        
       }*/

        .mini{
width: 157.5px;
    height: 74.5px;
}
.midi{
width: 157.5px;
    height: 108px;

}

.py-5{
    width: 100%;
}





/*Animations*/



.maxi{
	
     width: 157.5px;
    height: 162px;
}



.flat-slider .ui-slider-handle {
    width: 25px;
    height: 27px;
    background: #8C001A;
    border-radius: 13px;
    border: none;
    cursor: pointer;
}

.flat-slider .ui-slider-handle:hover {
    opacity: 1;
}

.maxiright {
  width: 157.5px;
    height: 162px;
    -webkit-animation-name: maxiright; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    /*-webkit-animation-delay: 2s;*/ /* Safari 4.0 - 8.0 */
    animation-name: maxiright;
    animation-duration: 1s;
    /*animation-delay: 1s;*/
}

.midiright {
  width: 157.5px;
    height: 108px;
    -webkit-animation-name: midiright; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    /*-webkit-animation-delay: 2s;*/ /* Safari 4.0 - 8.0 */
    animation-name: midiright;
    animation-duration: 1s;
    /*animation-delay: 1s;*/
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes midiright {
    0% {width: 157.5px;
    height: 74.5px;}
    100% {width: 157.5px;
    height: 108px;}
}

/* Standard syntax */
@keyframes midiright {
  0% {width: 157.5px;
    height: 74.5px;}
    100% {width: 157.5px;
    height: 108px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes maxiright {
     0% {width: 157.5px;
    height: 108px;}
    100% {width: 157.5px;
    height: 162px;}
}

/* Standard syntax */
@keyframes maxiright {
   0% {width: 157.5px;
    height: 108px;}
    100% {width: 157.5px;
    height: 162px;}
}

.maxidragright {
  width: 157.5px;
    height: 162px;
    -webkit-animation-name: maxidragright; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    /*-webkit-animation-delay: 2s;*/ /* Safari 4.0 - 8.0 */
    animation-name: maxidragright;
    animation-duration: 1s;
    /*animation-delay: 1s;*/
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes maxidragright {
     0% {width: 157.5px;
    height: 74.5px;}
    100% {width: 157.5px;
    height: 162px;}
}

/* Standard syntax */
@keyframes maxidragright {
  0% {width: 157.5px;
    height: 74.5px;}
    100% {width: 157.5px;
    height: 162px;}
}

.minidragleft {
  width: 157.5px;
    height: 74.5px;
    -webkit-animation-name: minidragleft; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    /*-webkit-animation-delay: 2s;*/ /* Safari 4.0 - 8.0 */
    animation-name: minidragleft;
    animation-duration: 1s;
    /*animation-delay: 1s;*/
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes minidragleft {
    0% {width: 157.5px;
    height: 162px;}
    100% {width: 157.5px;
    height: 74.5px;}
}

/* Standard syntax */
@keyframes minidragleft {
  0% {width: 157.5px;
    height: 162px;}
    100% {width: 157.5px;
    height: 74.5px;}
}

.maxileft {
  width: 157.5px;
    height: 108px;
    -webkit-animation-name: maxileft; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    /*-webkit-animation-delay: 2s;*/ /* Safari 4.0 - 8.0 */
    animation-name: maxileft;
    animation-duration: 1s;
    /*animation-delay: 1s;*/
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes maxileft {
    0% {width: 157.5px;
    height: 162px;}
    100% {width: 157.5px;
    height: 108px;}
}

/* Standard syntax */
@keyframes maxileft {
 0% {width: 157.5px;
    height: 162px;}
    100% {width: 157.5px;
    height: 108px;}
}

.minileft {
  width: 157.5px;
    height: 74.5px;
    -webkit-animation-name: minileft; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    /*-webkit-animation-delay: 2s;*/ /* Safari 4.0 - 8.0 */
    animation-name: minileft;
    animation-duration: 1s;
    /*animation-delay: 1s;*/
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes minileft {
    0% {width: 157.5px;
    height: 108px;}
    100% {width: 157.5px;
    height: 74.5px;}
}

/* Standard syntax */
@keyframes minileft {
 0% {width: 157.5px;
    height: 108px;}
    100% {width: 157.5px;
    height: 74.5px;}
}


.panel1, .panel2, .panel3, .panel4, .panel5, .panel6{
	display: none;
}

#dressslide{
	display: none;
}
.mini {
    width: 157.5px;
    height: 74.5px;
}



.dresslenght {
    position: absolute;
    top: 164px;
    left: 147px;
}





.thumbnails{
	text-align:center;
}
#flat-slider{
	margin-left: 13%;
}

.thumb, #dress1, #dress2, #dress3{width: 106px;
    }

.col-md-5{
	 -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

img.neckdisplay{
	    width: 74.5px;
    height: 74.5px;
}

img#dresslide{
	width: 157.5px;
	height:83.5px;
}
		

        .neckdrop {
    top: 107px;
    left: 175px;
}
#dressdrop{
	position: absolute;
	top: 0px;
	z-index: 5;
	right: 0;
    width: 100%;
    height:100%;
}
/*#dress1, #dress2, #dress3, #neck1, #neck2, #neck3, p.directions {
    margin-left: 10px;
}*/
		#dress1, #dress2, #dress3, #neck1, #neck2, #neck3, #neck4, #dressdrop, #neckdrop, .dresslenght{
  cursor: pointer;

}


.col-md-2, .col-sm-12{
    position: relative;
    width: 430px;
    /* height: 0; */
    /* height: 500px; */
    /* padding-right: 15px; */
    /* padding-left: 15px; */
}


.textinbox {
    padding: 0;
    margin-top: 10px;
}

@media (min-width: 460px){

    .repick {
    bottom: -40px;
    left: 46%;
    position: absolute;
}

.col-md-3.col-sm-12{
    border-right: none;
        margin-left: 10%;
}

    /*Animations*/
/*.mini {
    width: 350px;
    height: 165px;
}

.midi {
    width: 350px;
    height: 240px;
}



.maxi{
    
     width: 350px;
    height: 360px;
}*/

.flat-slider .ui-slider-handle {
    width: 25px;
    height: 27px;
    background: #8C001A;
    border-radius: 13px;
    border: none;
    cursor: pointer;
}

.flat-slider .ui-slider-handle:hover {
    opacity: 1;
}


    img#dresslide{
    width: 350px;
    height:185px;
}

  /*  img.neckdisplay{
    width: 185px;
    height:185px;
}*/

img#dresslide{
    width: 350px;
    height:185px;
}
    
    .neckdrop {
    top: 158px;
    left: 126px;
}

.dresslenght {
 
   top: 120px;
    left: 20px;
}

     #droppable{
           
            margin-top:15px;
            margin-left: 30%;
           
            
        }
   /* #dress1, #dress2, #dress3, #neck1, #neck2, #neck3, p.directions{
    margin-left: 30px;
}
*/
      #droppable, .fabric{
            width: 150px;
    height: 100px;
        }
     .custombar{
            margin-top: 15px;
        }

    .textinbox{
    padding: 0;
    margin-top: 25px;
}

    .neckdrop{
            top: 158px;
            left: 126px;

        }

        #dressdrop{
    position: absolute;
    top: 0px;
    z-index: 5;
    right: 0;
    width: 100%;
    height:100%;
}

    .holdercustom {
    height: 750px;
    width: 450px;
    /* margin: 0 auto; */
}

    input[type='radio'] {
    width: 60px;
    height: 60px;
}
.col-md-3.col-sm-12.cl1  {
    background: url('../custom_files/manican.png') no-repeat;
    background-size: 60%;
    background-color: white;

}
.preview{
        margin-left: 15%;   
            height: 150px;
        }

.col-sm-12{
 -ms-flex: 0 0 450px;
    flex: 0 0 450px;
    max-width: 450px;
    margin-left: 100px;

}


.col-md-5.col-sm-12{
-ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px
}

.container{
        
                width: 100vw;
        }

        .toppanel{
            width: 100%;
        }
#flat-slider{
    margin-left: 17%;
}


}/*End of Media 460px*/

@media (min-width: 560px){

 input[type='radio'] {
    width: 80px;
    height: 80px;
}

#flat-slider{
    margin-left: 25%;
}

}

@media (min-width: 768px){

    .textinbox {
  
    margin-top: 15px;
}
    /*#dress1, #dress2, #dress3, #neck1, #neck2, #neck3, p.directions{
    margin-left: 10px;
}*/
.container{
        
                width: 100%;
        }

    #flat-slider{
    margin-left: 15%;
}
    .preview{
        margin-left: 10%;
        padding-left: 0;

    }

     .logo2{
            margin-left: 100%;
        }

    input[type='radio'] {
    width: 60px;
    height: 60px;
}


    #droppable{
           position: absolute;
    top: 230px;
    right: 12px;
            margin-left: 50px;
          
        }
    #droppable, .fabric{
               width: 100px;
    height: 50px;
        }


.divider {
    margin-bottom: 4.5em;
    width: 100%;
}

       p.navpanel{margin-right: 0px;} 

       .holdercustom {
    height: 320px;
}

.textinbox{
    padding: 0;
    margin-top: 0;
    width: 100%;
}


.col-md-2 {
    -ms-flex: 0 0 6.666667%;
    flex: 0 0 6.666667%;
    max-width: 6.666667%;
}

.toppanel{
    width: 100%;
}


.col-md-3 {
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    max-width: 300px;
}
/*.col-md-5{
	-ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}*/
.col-md-5.col-sm-12 {
    -ms-flex: 0 0 365px;
    flex: 0 0 48%;
    max-width: 48%;
}

/*.col-sm-12 {
    margin-left: 85px;
}*/
.col-md-3.col-sm-12{
    border-right: solid gray 1px;
    margin-left: 85px;
}

#dressdrop{
	position: absolute;
	top:0px;
	right: 0;
	z-index: 5;
    height:100%;

}


/*img.neckdisplay{
	width: 115px;
	height: 130px;
}*/
#neckdrop{
	    top: 65px;
    left: 49px;
}

/*.dresslenght{
	top: 205px;
	left: 50px;
}*/
/*.mini{
 width: 230px;
    height: 115px;
}
.midi{
width: 230px;
    height: 145px;

}

.maxi{
	
     width: 230px;
    height: 250px;
}*/


/*Animations*/



}/* End of Media 768px*/


@media (min-width: 960px){

    .repick {
    
    left: 44%;
    
}

    .container{
        
                width: 100%;
        }

 .col-md-5.col-sm-12 {
    -ms-flex: 0 0 59%;
    flex: 0 0 59%;
    max-width: 59%;
}

    

    input[type='radio'] {
    width: 80px;
    height: 80px;
}
#flat-slider{
    margin-left: 20%;
}
}